<!doctype html>

<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <title>Criando uma aplicação NodeJS</title>
  <meta name="description" content="Criando uma aplicação NodeJS">
  <meta name="author" content="JSagon">
</head>
<body>
  <main class="container">
      {{{body}}}
      {{{pokemon}}}
  </main>
</body>
</html>